@import "../../theme/variables";
@import "../../theme/custom-variables";

page-home {
  h2{
    color: $white;
    //font-size: 50px !important;

  }
  .buttons{
    display: flex;
    flex-direction: row;
    position: relative;
    margin: auto;
    margin-top: 50vh;
  }
  .buttons button{
    flex: 1 1 auto;
    margin-right: 5px;
    background-color: map_get($colors,primary);
  }
  ion-content{
    background: $bgGradient;
    z-index: 1;
  }
  .toolbar-background{
    background-color:map_get($colors,primary);
  }
  .toolbar-title.toolbar-title-md{
    color: $white;
  }

  .scroll-content{
    height:650px;
    overflow: visible;
  }
}
.back-button-icon-md {
  color: $white;
}
.bgImage{
  position: relative;
  top:25%;
  width: 100%;
  filter:grayscale(90%);
}

