page-edit-modal {

}
input[placeholder], [placeholder], *[placeholder] {
  color: #cbcbcb;
}
.btnEdit{
  padding: 4.5px 12px !important;
}
.btnCancel{
  background-color: #982649 !important;
  color: #fff !important;
}
