@import "../../theme/custom-variables";


.addToDo{
    background: $bgGradient
}
form{
  width: 30rem;
  height: auto;
  margin: 10px 5%;
  border: 2px solid $bgSelect;
  padding: 10px 20px;
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
  background-color: $bgSelect;


  label{
    color: $white;
  }
  input{
    font-size: 14px !important;
    background-color: transparent !important;
    border-top:none !important;
    border-left:none !important;
    border-right:none !important;
    color: #fff !important;
  }
  .actions{
    text-align: right;
  }
  button{
    margin: 15px 0  0 0 !important;
    background-color: map_get($colors,light) !important;
    color: #000 !important;
    font-size: 14px !important;

  }
}
.error-message{
  color: $bgDeleteButton !important;
}



